/home/haoliang/.config/nvim

/home/haoliang/.local/share/nvim/plugged/impatient.nvim
/home/haoliang/.local/share/nvim/plugged/vim-repeat
/home/haoliang/.local/share/nvim/plugged/luatab.nvim
/home/haoliang/.local/share/nvim/plugged/hop.nvim
/home/haoliang/.local/share/nvim/plugged/nvim-lspconfig
/home/haoliang/.local/share/nvim/plugged/plenary.nvim
/srv/playground/null-ls.nvim
/home/haoliang/.local/share/nvim/plugged/nvim-treesitter
/home/haoliang/.local/share/nvim/plugged/nvim-treesitter-refactor-hal
/home/haoliang/.local/share/nvim/plugged/nvim-treesitter-textobjects-hal
/home/haoliang/.local/share/nvim/plugged/vim-surround
/home/haoliang/.local/share/nvim/plugged/vim-easy-align
/home/haoliang/.local/share/nvim/plugged/vim-indent-object
/srv/playground/fzf-lua
/home/haoliang/.local/share/nvim/plugged/ultisnips
/home/haoliang/.local/share/nvim/plugged/tagbar
/home/haoliang/.local/share/nvim/plugged/formatter.nvim
/home/haoliang/.local/share/nvim/plugged/asyncrun.vim
/home/haoliang/.local/share/nvim/plugged/vim-commentary

/etc/xdg/nvim
/home/haoliang/.local/share/nvim/site
/usr/local/share/nvim/site
/usr/share/nvim/site

/opt/nvim-v0.8.0-dev-996-g090370263/share/nvim/runtime
/opt/nvim-v0.8.0-dev-996-g090370263/share/nvim/runtime/pack/dist/opt/cfilter
/opt/nvim-v0.8.0-dev-996-g090370263/lib/nvim

/usr/share/nvim/site/after
/usr/local/share/nvim/site/after
/home/haoliang/.local/share/nvim/site/after
/etc/xdg/nvim/after
/home/haoliang/.local/share/nvim/plugged/ultisnips/after
/home/haoliang/.config/nvim/after
